<html>

<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>

	<link rel="apple-touch-icon" sizes="180x180" href="./staic/favicon_io/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="./staic/favicon_io//favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="./staic/favicon_io//favicon-16x16.png">
	<link rel="manifest" href="./staic/favicon_io/site.webmanifest">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400&display=swap" rel="stylesheet">
	
	<script src="./static/librarys/three.min.js"></script>
    <script src="./static/librarys/postprocessing.min.js"></script>
	
	
    <script src="./static/js/Rubiks_cube.js"></script>
	
	<style>
		body { margin: 0; }
		canvas { display: block; }
	</style>
</head>

<body>
	<script type="module" src="./static/js/three-test.js"></script>
</body>

</html>